---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=4894%20Whatever%20st.&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"4894\",\n               \"short_name\"
        : \"4894\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"East Whatever Resort Road\",\n
        \              \"short_name\" : \"E Whatever Resort Rd\",\n               \"types\"
        : [ \"route\" ]\n            },\n            {\n               \"long_name\"
        : \"Wascott\",\n               \"short_name\" : \"Wascott\",\n               \"types\"
        : [ \"administrative_area_level_3\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"Douglas\",\n               \"short_name\"
        : \"Douglas\",\n               \"types\" : [ \"administrative_area_level_2\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Wisconsin\",\n               \"short_name\" : \"WI\",\n               \"types\"
        : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            },\n
        \           {\n               \"long_name\" : \"54838\",\n               \"short_name\"
        : \"54838\",\n               \"types\" : [ \"postal_code\" ]\n            }\n
        \        ],\n         \"formatted_address\" : \"4894 East Whatever Resort
        Road, Wascott, WI 54838, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 46.1938270,\n
        \                 \"lng\" : -91.93644089999999\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 46.19381430,\n                  \"lng\" :
        -91.9364420\n               }\n            },\n            \"location\" :
        {\n               \"lat\" : 46.19381430,\n               \"lng\" : -91.9364420\n
        \           },\n            \"location_type\" : \"RANGE_INTERPOLATED\",\n
        \           \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\"
        : 46.19516963029150,\n                  \"lng\" : -91.93509246970849\n               },\n
        \              \"southwest\" : {\n                  \"lat\" : 46.19247166970850,\n
        \                 \"lng\" : -91.93779043029150\n               }\n            }\n
        \        },\n         \"partial_match\" : true,\n         \"types\" : [ \"street_address\"
        ]\n      },\n      {\n         \"address_components\" : [\n            {\n
        \              \"long_name\" : \"Whatever Way\",\n               \"short_name\"
        : \"Whatever Way\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Dixon\",\n               \"short_name\"
        : \"Dixon\",\n               \"types\" : [ \"locality\", \"political\" ]\n
        \   [...]
