---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1234%20Whever%20Dr.,%20Fair%20Oaks,%20CA%2095628&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Fair Oaks\",\n               \"short_name\"
        : \"Fair Oaks\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Sacramento\",\n
        \              \"short_name\" : \"Sacramento\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"California\",\n               \"short_name\"
        : \"CA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Fair Oaks, CA, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 38.6661650,\n
        \                 \"lng\" : -121.19421150\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 38.62060390,\n                  \"lng\" :
        -121.29226290\n               }\n            },\n            \"location\"
        : {\n               \"lat\" : 38.64462640,\n               \"lng\" : -121.27217180\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 38.6661650,\n
        \                 \"lng\" : -121.19421150\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 38.62060390,\n                  \"lng\" :
        -121.29226290\n               }\n            }\n         },\n         \"types\"
        : [ \"locality\", \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Fri, 12 Apr 2013 18:36:34 GMT
[...]
