.floatme {
  position: absolute;
  left: 90px;
  z-index: 3;
}

.floatme-mobile {
  position: absolute;
  left: 50px;
  z-index: 3;
}

.infoblock {
  background-color: #ccc #ccc #999 #ccc;
  position: absolute;
  top: 65%;
  left: 2.5%;
  z-index: 3;
  opacity: 0.81;
  height: 250px;
  overflow-y: scroll;


}

.infoblock-mobile {
  background-color: #ccc #ccc #999 #ccc;
  position: absolute;
  bottom: 50px;
  left: 10%;
  z-index: 3;
  opacity: 1;
  height: 10px;

}

.map_canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index :0;
  display: block;
}

.map_container {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
}

.gmaps4rails_map {
  height: 100%;
}





body, html {
  margin: 0;
  padding: 0;
}

