.floatme {
  position: absolute;
  left: 150px;
  z-index: 3;
}

.infoblock {
  background-color: #ccc #ccc #999 #ccc;
  position: absolute;
  top: 5%;
  left: 999px;
  z-index: 3;
  opacity: 0.81;


}

.map_canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index :0;
  display: block;
}

.map_container {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
}

.gmaps4rails_map {
  height: 100%;
}





body, html {
  margin: 0;
  padding: 0;
}

